.footer {
  border-top: 1px solid $gray;
  padding: 10px 0;
  margin-top: 10px;
  text-align: right;
  span {
    padding-right: 10px;
    font-weight: 700;
    font-size: 12px;
    color: $gray-black;
  }
}

@media (min-width: 768px) {
  .footer span {
    font-size: 14px;
  }
}
