.main-content {
  display: flex;
  justify-content: center;

  .page {
    width: 73%;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .main-content {
    justify-content: space-between;
    .page {
      width: 65%;
    }
  }
}
